
body {
    background-color:#444654;
    
    }
   
    ul{
        
        border: 1px solid white;
        border-radius: 20px;
        cursor: pointer;
    }
    
    li{
        display: inline-block;
        width: 50px;
        height: 10px;
        border: 1px solid gold;
        border-radius: 20px;
        padding: 10px;
        margin: 5px 5px 5px 5px;
        
    
    
    }
    
    li:hover
    {
        border: 1px solid black;
        cursor: pointer;
    
    }
    
    h1{
       letter-spacing: 2px;
        width: 250px;
        margin: auto;
        border: 2px solid black;
        background-color: navy;
        border-radius: 20px;
        color: white;
        text-align: center;
        font-family: Helvetica, sans-serif;
        font-size: 35px;
    }

    
    
    ul{
        color:black;	
    }
    
    button{
    
        background-color: navy; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 50px;
        cursor: pointer;
        
    }
    
    button:hover {
    background-color: #282880;
    color: white;
    
    
    }
    