
body {
    background-color:#444654;
    
    }
    ul1{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
       }

    li1{
        float: left;}
    
    
        li1 a {
      display: block;
      color: white;
      text-align: center;
      padding: 10px 16px;
      text-decoration: none;
      border-right: 1px solid black ;
    }
    
    li1 a:hover {
      background-color: navy;
    }


   

    .header {
        padding: 30px;
        text-align: center;
        background: url("img/profpic.jpg") no-repeat,
                    linear-gradient(navy, #444654);
      color: white;
      }
   
    ul{
        
        border: 1px solid black;
        border-radius: 20px;
        cursor: pointer;
        color: white;
    }
    
    li{
        display: inline-block;
        width: 50px;
        height: 10px;
        border: 1px solid navy;
        border-radius: 20px;
        padding: 10px;
        margin: 5px 5px 5px 5px;
        
        
    
    
    }
    
    li:hover
    {
        border: 1px solid black;
        cursor: pointer;
        background-color: navy;
    
    }
    
    h1{
       letter-spacing: 2px;
        width: 250px;
        margin: auto;
        border: 2px solid black;
        background-color: navy;
        border-radius: 20px;
        color: white;
        text-align: center;
        font-family: Helvetica, sans-serif;
        font-size: 35px;
    }

    
    
   
    
    button{
    
        background-color: navy; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 50px;
        cursor: pointer;
        
    }
    
    button:hover {
    background-color: #282880;
    color: white;
    
    
    }
    